:root {
    --yPos: calc(80% + 10px);
    --xNextPos: 330px;
    --xPrevPos: 270px;
    --width: 60px;
    --height: 60px;
  }

/* .MuiButtonBase-root {
    width: 40px;
    background-color: transparent;
} */
/* ------------Nav Button-----------------------------------
/* left nav button */
.css-hn784z {
    position: absolute;
    height: 0;
    background-color: transparent;
    z-index: 1;
    top: var(--yPos);
    left: var(--xPrevPos);
}
/* right nav button */
.css-1abc02a {
    position: absolute;
    height: 0;
    background-color: transparent;
    z-index: 1;
    top: var(--yPos);
    left: var(--xNextPos)
}
.css-tp0gdd-MuiButtonBase-root-MuiIconButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    width: var(--width);
    height: var(--height);
    font-size: 1rem;
    margin: 0 10px;
    position: relative;
    background-color: transparent;
    top: calc(80% + 20px)!important;
    color: white;
    font-size: 30px;
    -webkit-transition: 200ms;
    transition: 200ms;
    cursor: pointer;
    opacity: 1;
}
